{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
<!-- in django die anmeldung prüfen -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<!-- warum wird die style.css nicht angewendet ?-->

<script>
  const user = '{{request.user}}';
  console.log(user);
</script>
<!-- Brauch ich das hier ? darüber -->
<script defer src="{% static 'js/chat.js' %}"></script>

<div class="chat_page_container">

  <div class="chat_participant_container">
    <div class="chat_participant_box ec">
      <img class="userimage" src="../static/img/emtyuserimage.png">
      <span>Nutzername</span>
    </div>
  </div>

  <div class="chat_container">
    <div class="messages_container" id="messageContainer">
      {% for message in messages %}
      {% if message.author == user %}
      <div class="message_line_right">
        <div class="message_bubble">
          <span>[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
      </div>
      {% else %}
      <div class="message_line_left">
        <div class="message_bubble">
          <span>[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
      </div>

      {% endif %}
      {% endfor %}
      <!-- Für das beenden der Schleife -->
    </div>
    <form class="sendmessage_box" onsubmit="sendMessage(); return false;" method="post">
      <!-- return false weil action trotzdem gesendet wird obwohl es nicht da steht -->
      {% csrf_token %}
      <div class="df">
        <input autocomplete="off" placeholder="Schreibe deinen Text" class="inputmessagetext" name="textmessage" type="text" id="messageField">
        <button class="button2">Senden</button>
      </div>
    </form>
  </div>


</div>

{% else %}
<!-- sonst wird dieser Teil angezeigt -->
<h1>Nicht eingeloggt</h1>
<p>Du bist aktull nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>
</p>

{% endif %}
<!-- die if Abfrage beenden -->

{% endblock %}