{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
<!-- in django die anmeldung prüfen -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
<!-- warum wird die style.css nicht angewendet ?-->

<script>
  const user = '{{request.user}}';
  console.log(user);
</script>
<!-- Brauch ich das hier ? darüber -->
<script defer src="{% static 'js/chat.js' %}"></script>

<div class="chat_page_container">
  <div class="chat_participant_container lightblue">
     <div class="chat_participant_box">

     </div>
  </div>

  <div class="chat_container">
    <div id="messageContainer">
      {% for message in messages %}
      <!-- Forschleife mit django Code fürs Html -->
      
        {% if message.author == user %}
        <div class="message_line_right">
          <span>[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
        {% else %}
        <div class="message_line_left">
          <span>[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
        
        {% endif %}
      {% endfor %}
      <!-- Für das beenden der Schleife -->
    </div>
    <form class="sendmessage_box lightblue" onsubmit="sendMessage(); return false;" method="post">
      <!-- return false weil action trotzdem gesendet wird obwohl es nicht da steht -->
      {% csrf_token %}
      <!-- django code der im Hintergrund zu html umgewandelt wird -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
        <label class="mdl-textfield__label" for="messageField">Text...</label>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
      </button>
    </form>
  </div>
</div>

{% else %}
<!-- sonst wird dieser Teil angezeigt -->
<h1>Nicht eingeloggt</h1>
<p>Du bist aktull nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>
</p>

{% endif %}
<!-- die if Abfrage beenden -->

{% endblock %}