{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">

<script>
  const userfirstname = '{{ request.user.first_name }}';
  const user = '{{request.user}}';
  const token = '{{ csrf_token }}';
  const date = '{% now "SHORT_DATETIME_FORMAT" %}';
  const chatuser = '{{ chatuser }}';
  console.log(user);
</script>

<script defer src="{% static 'js/chat.js' %}"></script>

<div class="chat_page_container">

  <div class="chat_participant_container">
    <div>
      <img src="../{{ profile.file }}">
      <span>{{ chatuser }}</span>
    </div>
  </div>

  <div class="chat_container">
    <div class="messages_container" id="messageContainer">
      {% for message in messages %}
      {% if message.author == user %}
      <div class="message_line_right">
        <div class="speech-bubble-right">
          <span>[{{ message.created_at | date:"M d, Y" }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
      </div>
      {% else %}
      <div class="message_line_left">
        <div class="speech-bubble-left">
          <span>[{{ message.created_at | date:"M d, Y" }}]</span> {{ message.author.first_name }}: <i>{{message.text}}</i>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <!-- Für das beenden der Schleife -->
    </div>
    <form class="sendmessage_box" onsubmit=" event.preventDefault(); sendMessage();"> <!-- Nochmal schauen wie die form und die Javascript Funktion die Nachrichten lädt -->
      <!-- return false weil action trotzdem gesendet wird obwohl es nicht da steht -->
      {% csrf_token %}
      <div>
        <input autocomplete="off" placeholder="Schreibe deinen Text" name="textmessage" type="text" id="messageField">
        <button>Senden</button>
      </div>
    </form>
  </div>
</div>

{% else %}
<!-- sonst wird dieser Teil angezeigt -->
<h1>Nicht eingeloggt</h1>
<p>Du bist aktull nicht eingeloggt. Bitte logge dich ein.<br> Bitte klicke <a href="/login/">hier</a>
</p>

{% endif %}
<!-- die if Abfrage beenden -->

{% endblock %}

