.settings_page_container {
    min-height: 80vh;

    .searchbox_container {
        width: 50vw;
        height: 80vh;

        div {
            h1 {
                color: rgba(0,0,0, 0.7);
            }

            form {
                input {
                    height: 40px;
                    width: 300px;
                    border: none;
                    outline: none;
                    margin-left: 40px;
                    margin-right: 8px;
                    color: black;
                }
                button {
                    height: 40px;
                    width: 20%;
                    font-size: 16px;
                    color: rgb(255,255,255);
                    background-color: rgb(63,81,181);
                    border-radius: 4px;
                    border: none;
                    margin-right: 34px;
                    font-size: 16px;   
                    .button:hover {
                        cursor: pointer;
                    }                 
                }
            }
        }
    }

    .logout_and_account_delete_container {
        width: 50vw;
        height: 80vh;

        .placement {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            div {
                height: 250px;
                width: 300px;
                img {
                    height: 80px;
                    width: 80px;
                    object-fit: cover;
                    margin-right: 8px;
                }
                button {
                    background-color: aliceblue;
                    border: none;
                    color: black;
                    height: 30px;
                    width: 120px;
                    .button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


@media(max-width: 500px) {
    .settings_page_container {
        min-height: 20vh;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
    
        .searchbox_container {
            height: 40vh; 
    
            .frame {
                width: 100%; 
                
                h1 {
                    font-size: 20px; 
                }
    
                form {
                    input {
                        width: 100px;
                    }
                    button {

                        width: 80%;   
                    }
                }
            }
        }
    
        .logout_and_account_delete_container {

            height: 35vh; 
    
            .placement {
                div {
                    height: 180px; 
                }
            }
        }
    }    
}




