.cg {
    color: rgba(0, 0, 0, 0.7);
}

.blue {
    background-color: blue;
}

.sign_in_container {
    margin-top: 20px;
}

.ec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.df {
    display: flex;
}
