.cg {
    color: rgba(0, 0, 0, 0.7);
}

.blue {
    background-color: blue;
}

.sign_in_container {
    margin-top: 20px;
}

.ec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.eccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.df {
    display: flex;
}

.ml {
    margin-left: 100px;
}

.mt {
    margin-top: 24px;
}

.newaccountlink {
    color: brown;
}

.newaccountlink:hover {
    cursor: pointer;
}


@media(max-width: 500px) {
    .ml {
        margin-left: 18px;
    }

    .mdl-layout-title {
        margin-left: -48px;
        font-size: 16px;
    }
}
