{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

{% endif %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/settings.css' %}">

<script defer src="{% static 'js/settings.js' %}"></script>

<div class="settings_page_container df">
    <div class="searchbox_container ec">
        <div class="frame eccc">
            <h1>Suche Chatteilnehmer</h1>
            <form class="df" action="javascript:;">
                <input id="username" autocomplete="off" placeholder="Suchen" name="searchvalue" type="text">
                <button onclick="addnewchatuser()">Hinzufügen</button>
            </form>
        </div>
    </div>
    <div class="logout_and_account_delete_container ec">
        <div class="placement">
            <div class="ec">
                <img src="../static/img/logout.png">
                <button>
                    <a href="/logout/">Ausloggen</a>
                </button>
            </div>
            <div class="ec">
                <form method="post">
                    {% csrf_token %}
                    <img src="../static/img/deleteaccount.png">
                    <button>Lösche deinen Account</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}