{% extends "base.html" %}
{% block content %}

<h1 class="ml mt">Login</h1>

{% if wrongPassword %}

<p class="ml">Benutzername oder Passwort ist falsch!</p>

{% endif %}

<form class="ml" method="POST" action="/login/">

    <div class="ecc">
        {% csrf_token %}
        <!-- <input type="hidden" name="redirect" value="{{ redirect }}"> -->
        <div class="mdl-textfield mdl-js-textfield">
            <input name="username" class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label">Username...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input name="password" class="mdl-textfield__input" type="password">
            <label class="mdl-textfield__label">Passwort...</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Login
        </button>
    </div>
    <!-- git add basic login login impemetiert -->
    <!-- beim video drauf disgn login page -->

</form>
<div class="ml mt">
    <p>
        Neu hier ? Klicken sie auf den Link "Neuer Account".
    </p>
    <a class="newaccountlink" method="get" href="/register">Neuer Account</a>
</div>
{% endblock %}