{% extends "base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% if request.user.is_authenticated %}

<div class="profile_page_container">

    <div class="image_and_username_container df">
        <!-- <img class="bild" src="../static/img/emtyuserimage.png"> -->
        <img src="../{{ file }}">
        <h1>{{ firstname }}</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="file" name="profilepicture">
            <button>Speichern</button>
        </form>
    </div>
    <!-- if else abfrage einbauen ? wie geht die syntax ? -->
    {% if not status %}
    <div class="status_container ecc">
        <div class="ec">
            <h3>Füge einen Status hinzu</h3>
            <form class="df" action="" method="POST">
                {% csrf_token %}
                <input autocomplete="off" placeholder="z.B. Programmieren ist super :)" type="text" name="profilstatus">
                <button>Speichern</button>
            </form>
        </div>
    </div>

   {% else %}
    <div class="status_container_with_value eccc">
        <p>Dein Status</p>
        {{ status }}
    </div> 
    {% endif %}
    <div class="other_infos_container ec">
        <p>{{ firstname }}</p>
        <p>{{ lastname }}</p>
        <p>{{ email }}</p>
    </div>
    <h3></h3>
</div>
{% endif %}
{% endblock %}